@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Base styles */

html {
  font-family: 'Open Sans', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  
}

.outer-container {
  border-radius: 25px;
  margin: auto;
  width: 280px;
  padding: 25px 15px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blurb {
  max-width: 250px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: 280px;
  border-radius: 15px;
}

.title {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%)
}

.content {
  font-weight: 400;
  font-size: 15px;
  color:hsl(220, 15%, 55%)
}

/* 
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */